.wraper {
    width: 999px;
    padding-top: 0px;
    margin: 0 auto;
height:1300px;
}

.nav {
    position: relative;
    height: 40px;
    background: #3b81e4;
    overflow: hidden;
}

.nav-item {
    position: relative;
    float: left;
    width: 333px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    z-index: 1;
    margin: 0 auto;
}

    .nav-item a {
        display: block;
        height: 40px;
        color: #fff;
    }

        .nav-item a:hover {
            color: #fff;
        }

.move-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 40px;
    background: #4D0B33;
    z-index: 0;
}
